### Importing Libraries

In [1]:
# import the important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import mean_squared_error, accuracy_score

In [2]:
# read the csv file
df = pd.read_csv('WineQT.csv')

In [3]:
# show the first five rows
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

### EDA

In [4]:
# change the id of the dataframe
df.index = df.Id

In [5]:
# drop unwanted columns
df.drop('Id', axis=1, inplace=True)

In [6]:
# display the information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1143 entries, 0 to 1597
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 116.1 KB

In [7]:
# describe the data --> some statistical measurements
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000
mean,8.311111,0.531339,0.268364,2.532152,0.086933,15.615486,45.914698,0.996730,3.311015,0.657708,10.442111,5.657043
std,1.747595,0.179633,0.196686,1.355917,0.047267,10.250486,32.782130,0.001925,0.156664,0.170399,1.082196,0.805824
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.392500,0.090000,1.900000,0.070000,7.000000,21.000000,0.995570,3.205000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.250000,2.200000,0.079000,13.000000,37.000000,0.996680,3.310000,0.620000,10.200000,6.000000
75%,9.100000,0.640000,0.420000,2.600000,0.090000,21.000000,61.000000,0.997845,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [8]:
df.quality.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [9]:
df.shape

(1143, 12)

In [10]:
# Separate the data and target
X = df.drop("quality", axis=1)
y = df.quality

In [11]:
# split X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Building the model

In [12]:
# initialization of the model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Users\Madeh\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
# predict the new values
y_pred_logreg = logreg.predict(X_test)

In [14]:
# evaluate the model
print('Mean Squared Error for LogisticRegression: ', mean_squared_error(y_test, y_pred_logreg))

Mean Squared Error for LogisticRegression:  0.4672489082969432

In [15]:
data = pd.DataFrame({"Actual": y_test, "Prediction": y_pred_logreg, "Loss":abs(y_pred_logreg-y_test)})
data.head(30)

      Actual  Prediction  Loss
Id
222        5           5     0
1514       6           5     1
417        5           5     0
754        6           6     0
516        6           6     0
1120       8           7     1
180        5           5     0
82         5           5     0
632        6           6     0
592        5           5     0
501        7           7     0
1586       6           6     0
1096       6           6     0
1101       6           6     0
1488       5           6     1
700        6           5     1
631        5           5     0
1022       5           6     1
1420       5           5     0
882        6           6     0
1170       6           6     0
911        6           7     1
124        5           5     0
1417       7           6     1
681        6           6     0
63         5           5     0
1010       7           6     1
418        6           6     0
399        5           5     0
1265       6           5     1

In [16]:
# init the model
rfc = RandomForestClassifier(n_estimators=200)

In [17]:
# fit the model to the train data
rfc.fit(X_train, y_train)

RandomForestClassifier(n_estimators=200)

In [18]:
# predict the test data
y_pred_rfc = rfc.predict(X_test)

In [19]:
print('Mean Squared Error RandomForestClassifier: ', mean_squared_error(y_test, y_pred_rfc))

Mean Squared Error RandomForestClassifier:  0.40611353711790393

In [20]:
data = pd.DataFrame({"Actual": y_test, "Prediction": y_pred_rfc, "Loss":abs(y_pred_rfc-y_test)})
data.head(30)

      Actual  Prediction  Loss
Id
222        5           5     0
1514       6           6     0
417        5           5     0
754        6           5     1
516        6           5     1
1120       8           6     2
180        5           5     0
82         5           5     0
632        6           5     1
592        5           5     0
501        7           7     0
1586       6           7     1
1096       6           6     0
1101       6           6     0
1488       5           5     0
700        6           5     1
631        5           6     1
1022       5           5     0
1420       5           5     0
882        6           7     1
1170       6           6     0
911        6           5     1
124        5           5     0
1417       7           7     0
681        6           5     1
63         5           5     0
1010       7           6     1
418        6           6     0
399        5           5     0
1265       6           6     0

In [21]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')